services:
  backend:
    build: ./Backend
    ports:
      - '5000:5000'
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/tasktracker
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=development
      - APP_BASE_URL=http://localhost:5000
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
